$text-color: #333333; 
$top-color: #040c0e;
$background-color: #ffffff;
$bg-top: #818181;
$menu-color: #56595c;
$link-color: #dc5769;
$footer-color: #2E2F33;
$placeholder-color: rgba($bg-top,.8);
$top-color2: #071672;
$bg-top2: 	#424E8D;
$menu-color2: #253171;
$footer-color2:#01051b;
$hover-color2: #CBA858;
$menu-color3: #2a6344;
$link-color3: #dc5769;
$top-color3: #002A13;
$bg-top3: #0C301D;
$footer-color3: #04130b;
$hover-color3: #801515;

$large-screen: 1300px;
$small-screen: 970px;
$tablet: 750px;
$mobile: 320px;
