.contacts {
    display: flex;
    font-size: 14px;
    font-weight: 600;
    line-height: 2;

   &__phone {
       display: block;
       color: $text-color;       
       text-decoration: underline;
       text-decoration-style: dashed;
       text-underline-position: under;
       transition: color 0.3s ease-in-out;
       cursor: pointer;      

        &:hover,
        &:focus {
            color: $link-color;
        }
    } 

    &__email {
        display: block;
        color: $text-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: color 0.3s ease-in-out;
        cursor: pointer;

        &:hover,
        &:focus {
            color: $link-color;
        }
    }

}

@media (max-width: $small-screen) {
    .contacts {
        &__email {
            display: none;
        }
    }
}

@media (min-width: $small-screen) {
    .contacts {
        &__phone {
            margin-right: 8px;
        }
    }
}

.contacts-btm {
    line-height: 1.8;
    &__phone {
        display: block;
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        transition: color 0.3s ease-in-out;

        &:hover,
        &:focus {
            color: $link-color;
        }
    }
}

@media (min-width: $tablet) {
    .contacts-btm {
        text-align: right;
    }
}

.address {
    &__name {
        margin-top: 0;
        margin-bottom: 0;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__text {
        margin-top: 0;
        margin-bottom: 8px;
    }    
}

.blue,
.green {
    .contacts {
      
       &__phone {
           color: $text-color;  

            &:hover,
            &:focus {
                color: $link-color;
            }
        } 
    
        &__email {
            color: $text-color;
    
            &:hover,
            &:focus {
                color: $link-color;
            }
        }    
    }
        
    @media (max-width: $small-screen) {
        .contacts {   
            &__phone {
                color: $background-color;  
     
                 &:hover,
                 &:focus {
                     color: $link-color;
                }
            } 
         
            &__email {
                color: $background-color;
            }
        }
    }
    
    .contacts-btm {
        &__phone {
            &:hover,
            &:focus {
                color: $link-color;
            }
        }
    }
}