.container {
    @include container;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    // padding-top: 36px;
    padding-bottom: 36px;


    &__right {
        order: 1;
        display: flex;
        flex-wrap: wrap;
    }

    &__bread {
        flex-basis: 100%;
    }
}

@media (min-width: $small-screen) {    
    .container__left {
        flex-basis: calc(25% - 12px);
    }

    .container__right {
        flex-basis: calc(75% - 12px);
    }
}