@media (max-width: $small-screen) {
    .slider-address {
        display: none;
    } 
}

@media (min-width: $small-screen) {
    .slider-address {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 24px;
        padding-right: 24px;
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: rgba($bg-top, 0.2);

        &__phone {
            color: $text-color;
            font-weight: 600;
            text-decoration: none;
            transition: color 0.3s ease-in-out,
                text-decoration 0.3 ease-in-out;

            &:last-child {
                margin-bottom: 16px;
            }

            &:hover,
            &:focus {
                color: $link-color;
                text-decoration: underline;
                text-underline-position: under;
            }
        }

        &__address {
            margin-top: 0;
            margin-bottom: 0;
            font-size: 12px;
            line-height: 1.2;            
        }

        &__logo {
            display: block;
            align-self: center;
            margin-bottom: 8px;
        }

        &__market {
            align-self: center;
            margin-bottom: 8px;
        }
    }
}