.small-card {
    position: relative;
    display: flex;
    align-items: stretch;
    justify-content: center;

    &:hover,
    &:focus {
        .small-card__link svg {
            color: $link-color;
        }
    }

    &__link {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        height: 40px; 
        color: $link-color;
        text-decoration: none;
    }

    &__icon {
        width: 30px;
        height: 30px;
    }    

    &__item {
        span:first-child {
            font-weight: bold;
        }
    }

    &__count {
        position: absolute;
        top: -8px;
        right: -8px;
        line-height: 1.5;
        padding-left: 3px;
        padding-right: 3px;
        font-size: 12px;
        border-radius: 50%;
        color: $background-color;
        background-color: $link-color;
    }
}

@media (max-width: $small-screen) {
    .small-card {
        &:hover,
        &:focus {
            .small-card__items {
                display: flex;
            }
        }

        &__items {        
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;
            display: none;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            padding-left: 10px;
            padding-right: 10px;
            padding-top: 12px;
            padding-bottom: 12px;
            min-width: 210px;
            background-color: $background-color;
            border-radius: 4px;
            box-shadow: 0 0 3px rgba(0,0,0,0.6);
        }

    }
}
@media (min-width: $small-screen) {
    .small-card {    
        align-items: stretch;   

        &__items {
            display: flex;
            align-items: center;
            justify-content: center;
            padding-right: 16px;
            padding-left: 16px;
            margin-right: 8px;
            color: $text-color;
            font-size: 16px;
            text-transform: uppercase;
            border: 1px solid $text-color;

            span:last-child {
                margin-left: 8px;
            }
        }
    }
}


.blue {
    .small-card {
    
        &:hover,
        &:focus {
            .small-card__link svg {
                color: $hover-color2;
            }
        }
    
        &__link {
            color: $hover-color2;
            text-decoration: none;
        }
    
        &__count {
            background-color: $hover-color2;
        }
    } 
    
}

.green {
    .small-card {    
        &:hover,
        &:focus {
            .small-card__link svg {
                color: $hover-color3;
            }
        }
    
        &__link {
            color: $hover-color3;
            text-decoration: none;
        }
    
        &__count {
            background-color: $hover-color3;
        }
    } 
}