@media (max-width: $small-screen) {
    .top-slider {
        display: none;
    }
}
@media (min-width: $small-screen) {
    .top-slider {
        @include container;
        display: flex;
        align-items: stretch;
        width: 100%;

        &__slider {
            flex-grow: 1;
            min-height: 100%;
        }

        &__address {
            flex-basis: calc(100% / 4 - 24px);
            flex-shrink: 0;
        }
    }
}